*{ 
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(38, 169, 246);
    display: grid;
    place-content: center;
}

.postCard{
    width: 50vw;
    height: 65vw;
    min-width: 250px;
    min-height: 325px;
    max-width: 500px;
    max-height: 650px;
    background-color: rgb(255, 250, 245);
    border-radius: 5px;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
}

.accountData{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 6%;
}

.profile{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 30px;
}

.profileUser{
    width: 60px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.accountImage{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    margin-right: 5px;
}

.name, .username{
    width: 20px;
    height: 10px;
}

.name{
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: bold
}

.username{
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
    margin-top: 5px;
}

.followActions{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: auto;
    justify-content: center;
    align-items: center;
}

.followButton{
    width: 70px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid black;
    color: black;
    font-weight: bold;
    font-size: 10px;
}

.dropdown{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    width: 20px;
    height: 10px;
    align-items: center;
    margin-top: 8px;
}

.dropdownLeft{
    width: 6px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    transform: rotate(45deg);
    margin-right: -2px;
}

.dropdownRight{
    width: 6px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    transform: rotate(-45deg);
}

.postContent{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    align-items: center;
}

.postQuote{
    width: 100%;
    margin-top: 0px;
    font-size: 18px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    height: auto;
}

.postImage{
    width: 90%;
    background-color: black;
    flex: 1;
    border-radius: 5px;
    margin-top: 5px;
}

.postDate{
    width: 100%;
    height: 4%;
}

.postDate>p{
    margin-top: 5px;
    width: 100%;
    height: 100%;
    font-size: 10px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.5);
}

.postInfo{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 6%;
    border-top: 1px solid rgba(100, 100, 100, 0.1);
    border-bottom: 1px solid rgba(100, 100, 100, 0.1);
    margin-top: 5px;
}

.quote{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.quote>p{
    height: 100%;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 13px;
    margin: 5px 0px 0px 0px;
}

.quote>blockquote{
    margin: 5px 0px 0px 5px;
    height: 100%;
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
}

.reactions{
    border-left: 1px solid rgba(100, 100, 100, 0.1);
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    /* width: 80%; */
    height: 100%;
    align-items: center;
}

.reactionsImage{
    width: 15px;
    height: 15px;
    margin: 0px 2px;
    border-radius: 50%;
    background-color: black;
}

.postActions{
    width: 100%;
    height: 9%;
}

.comment{
    width: calc(100% + 40px);
    height: 10%;
    margin-left: -20px;
    background-color: rgba(230, 230, 230, 0.4);
}