*{ 
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(78, 159, 236);
    display: grid;
    place-content: center;
}

.postCard{
    width: 50vw;
    height: 60vw;
    min-width: 200px;
    min-height: 240px;
    max-width: 550px;
    max-height: 660px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.accountData{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.profile{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 50px;
}

.profileUser{
    width: 60px;
    height: 50px;
}

.accountImage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
}

.name, .username{
    width: 20px;
    height: 10px;
}

.followActions{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: auto;
    justify-content: center;
    align-items: center;
}

.followButton{
    width: 80px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid black;
}